<apex:page showHeader="false" standardStylesheets="false"> 
 <apex:stylesheet value="{!URLFOR($Resource.slds2_3_1, 'assets/styles/salesforce-lightning-design-system-ltng.min.css')}" />
 <apex:includeLightning />
 <div style="width:100%;height:100px;" id="lexContainer"> 
 <div style="height:6rem;" id="sliderDemo">
 <div role="status" class="slds-spinner slds-spinner_medium" >
 <span class="slds-assistive-text">Loading</span>
 <div class="slds-spinner__dot-a"></div>
 <div class="slds-spinner__dot-b"></div> 
 </div>
 </div> 
 </div>

 <script>
     $Lightning.use("c:AccountLocatorApp", function() {
         $Lightning.createComponent("c:findExpense",
             {},
             "lexContainer",
             function(cmp) {
                document.getElementById("sliderDemo").style.display = 'none'; 
         });
     });
 </script> 

<!--
 <script>
     $Lightning.use("c:SliderDemoApp", function() {
         $Lightning.createComponent("c:campingHeader",
             {},
             "lexContainer",
             function(cmp) {
                document.getElementById("sliderDemo").style.display = 'none'; 
         });
     });
 </script>  
-->
 
</apex:page>