<apex:page standardController="Account">
    <apex:pageBlock title="Hello {!$User.FirstName}!">
    You are displaying contacts from the {!account.name} account.
    Click a contact's name to view his or her details.
    Getting a Quick Start with Visualforce Providing Status for Asynchronous Operations
    </apex:pageBlock>

    <apex:pageBlock title="Contacts">
    
        <apex:form >
            <apex:dataTable value="{!account.Contacts}" var="contact" cellPadding="4" border="1">
                <apex:column >
                    <apex:commandLink rerender="detail">
                        {!contact.Name}
                        <apex:param name="cid" value="{!contact.id}"/>
                    </apex:commandLink>
                </apex:column>
                <apex:column >                
                    <apex:outputPanel >
                        <apex:actionSupport event="onmouseover" rerender="detail">
                            <apex:param name="cid" value="{!contact.id}"/>
                        </apex:actionSupport>
                        {!contact.Name}
                    </apex:outputPanel>
                </apex:column>
            </apex:dataTable>
        </apex:form>
    
    </apex:pageBlock>
    
    <apex:outputPanel id="detail">
        <apex:actionStatus startText="Requesting...">
            <apex:facet name="stop">
                <apex:detail subject="{!$CurrentPage.parameters.cid}" relatedList="false" title="false"/>
            </apex:facet>
        </apex:actionStatus>
    </apex:outputPanel>
</apex:page>